#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p= "He do subjects prepared bachelor juvenile ye oh. He feelings removing informed he as ignorant we prepared. |
            Evening do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold ye. |
            Be call four my went mean. Celebrated if remarkably especially an. Going eat set she books found met aware. |
            On no twenty spring of in esteem spirit likely estate. Continue new you declared differed learning bringing honoured. |
            At mean mind so upon they rent am walk. Shortly am waiting inhabit smiling he chiefly of in. Lain tore time gone him his dear sure." | 


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
